.vscode/
*wandb/
checkpoints/
*__pycache__/
results/
notes.txt
*.DS_Store
*.png
*.jpg
*.csv
grid_pattern_formation.egg-info/
*.pth
*.npy
*colab*.ipynb
*.yaml
!replicate_baseline.yaml
archive/
grid_pattern_formation/models/topographic_loss.py
